.personal-container {
  display: grid;
  grid-template-rows: 96px minmax(0, 1fr);
  height: 100vh;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 23px 0 23px;
}

.name-pic-container {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 48px;
  height: 48px;
  background-color: #e0d4fa;
  color: #20202a;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  cursor: pointer;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.user-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.user-status {
  font-size: 14px;
  color: rgb(112, 112, 112);
}

.settings-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(112, 112, 112);
  cursor: pointer;
}

.settings-btn:hover {
  color: white;
}

.settings-container {
  padding: 10px;
  width: 190px;
  right: 35px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 200;
}

.settings-text {
  margin: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.settings-text:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.theme-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  color: rgb(240, 40, 40);
}

/* Media */

.personal-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 23px;
}

.subtext-container {
  display: flex;
  align-items: baseline;
}

.text-media {
  font-size: 20px;
  margin-right: 10px;
}

.media-count,
.text-see-all,
.file-stats,
.starred-msg-info {
  font-size: 12px;
  color: rgb(112, 112, 112);
}

.text-see-all {
  cursor: pointer;
  transition: color 0.15s;
}

.text-see-all:hover {
  color: rgba(255, 255, 255, 0.801);
}

.media-img-container {
  margin: 23px;
  display: flex;
  justify-content: space-between;
}

.img-container {
  width: 71px;
  height: 71px;
  cursor: pointer;
}

.media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

/* Files */

.file-preview-container {
  padding: 10px;
  display: flex;
  margin: 10px 13px 7px 13px;
  border-radius: 10px;
  transition: background-color 0.15s;
  cursor: pointer;
}

.file-preview-container:hover {
  background-color: #35353f;
}

#light .file-preview-container:hover {
  background-color: rgb(201, 201, 201);
}

.file-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #2b2b35;
  margin-right: 12px;
}

#light .file-icon {
  background-color: rgb(119, 119, 119);
  color: white;
}

.file-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nothing-here-txt {
  margin-left: 23px;
  color: rgb(119, 119, 119);
}

/* Starred Messages */

.media-file-starred-container {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
}

.starred-messages-container {
  position: relative;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

.starred-messages-container::after {
  pointer-events: none;
  z-index: 200;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  content: '';
  background-image: linear-gradient(
    to bottom,
    rgba(32, 32, 42, 0) 0%,
    rgba(32, 32, 42, 0.8) 100%
  );
}

#light .starred-messages-container::after {
  background-image: linear-gradient(
    to bottom,
    rgba(231, 231, 231, 0) 0%,
    rgba(231, 231, 231, 0.8) 100%
  );
}

.starred-user-msg,
.starred-partner-msg {
  font-size: 14px;
  padding: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid rgb(54, 54, 54);
}

#light .starred-user-msg,
#light .starred-partner-msg {
  border: none;
}

.starred-user-msg {
  background-color: #fef5d4;
  color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 2px;
}

#light .starred-user-msg {
  background-color: rgb(105, 105, 253);
  color: white;
  border: 1px solid rgb(196, 196, 196);
}

.starred-partner-msg {
  background-color: #2b2b35;
  color: rgb(172, 172, 172);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 15px;
}

#light .starred-partner-msg {
  background-color: rgb(231, 231, 231);
  color: black;
  border: 1px solid rgb(196, 196, 196);
}

.starred-msg-info {
  margin: 7px 0 10px 0;
}

.scroll-starred-container {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow: auto;
  margin: 0 23px 0 23px;
}

.scroll-starred-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
