.chat-panel {
  display: grid;
  grid-template-rows: 96px 1fr 80px;
  border-left: 1px solid rgb(43, 43, 43);
  border-right: 1px solid rgb(43, 43, 43);
  height: 100vh;
}

#light .chat-panel {
  border-left: 1px solid rgb(196, 196, 196);
  border-right: 1px solid rgb(196, 196, 196);
}

.chat-contact {
  border-bottom: 1px solid rgb(43, 43, 43);
}

.chat-input {
  border-top: 1px solid rgb(43, 43, 43);
}

.chat-partner {
  display: grid;
  align-items: center;
  padding: 0 23px 0 23px;
  border-bottom: 1px solid rgb(43, 43, 43);
}

#light .chat-partner {
  border-bottom: 1px solid rgb(196, 196, 196);
}

.chat-partner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
}

.contact-picture {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  background-color: #fef5d4;
  color: #20202a;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  cursor: pointer;
}

.name-status-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.contact-name {
  font-size: 20px;
}

.contact-status {
  font-size: 14px;
  color: rgb(112, 112, 112);
}

.contact-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-btn,
.more-btn {
  cursor: pointer;
}

/* TODO: Neon colors */

.more-btn {
  margin-left: 22px;
  color: rgb(112, 112, 112);
}

.video-container,
.phone-container,
.search-container,
.dots-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
}

.video-container .tooltip,
.phone-container .tooltip,
.search-container .tooltip,
.dots-container .tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.dots-container .tooltip {
  bottom: -40px;
  right: -7px;
}

.video-container:hover .tooltip,
.phone-container:hover .tooltip,
.search-container:hover .tooltip,
.dots-container:hover .tooltip {
  opacity: 1;
}

/*     ChatHistory     */

.chat-history-container {
  background-color: #17171f;
  padding: 5px 15px 0 23px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  overflow-y: scroll;
}

#light .chat-history-container {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  display: block;
}
::-webkit-scrollbar-thumb {
  background: #2b2b35;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 172, 172);
}

#light ::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

#light ::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}

.context-menu-container {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

.context-menu {
  display: grid;
  grid-template-columns: auto auto;
}

.context-icon {
  margin: 0 5px 0 5px;
  color: rgb(112, 112, 112);
  cursor: pointer;
}

.context-icon:hover {
  color: white
}

#light .context-icon:hover {
  color: rgb(182, 182, 182)
}

.context-modal-container {
  position: absolute;
  top: +40px;
  right: 2px;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}

.context-modal-text {
  margin: 4px 0 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.context-modal-text:hover {
  color: white;
}

.chat-msg-container {
  width: fit-content;
  max-width: 80%;
  display: flex;
}

.right-aligned {
  margin-left: auto;
  margin-right: 0;
}

.user-chat-msg,
.partner-chat-msg {
  font-size: 12px;
  padding: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid rgb(54, 54, 54);
}

#light .user-chat-msg,
#light .partner-chat-msg {
  border: none;
}

.user-chat-msg {
  background-color: #fef5d4;
  color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 2px;
}

#light .user-chat-msg {
  background-color: rgb(105, 105, 253);
  color: white;
}

.partner-chat-msg {
  background-color: #2b2b35;
  color: rgb(172, 172, 172);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 15px;
}

#light .partner-chat-msg {
  background-color: rgb(231, 231, 231);
  color: black;
}

.msg-date {
  margin: 7px 0 10px 0;
  font-size: 12px;
  color: rgb(112, 112, 112);
}

.sep-line-container {
  display: flex;
}

.sep-line-text {
  font-size: 14px;
  color: rgb(107, 107, 107);
  margin: 23px;
}

/*     ChatInput     */

.chat-input-container {
  border-top: 1px solid rgb(43, 43, 43);
  display: grid;
  grid-template-columns: 42px 1fr 146px;
  align-items: center;
  padding: 0 25px 0 25px;
  z-index: 100;
}

#light .chat-input-container {
  border-top: 1px solid rgb(196, 196, 196);
}

.attach-btn {
  width: 44px;
  height: 44px;
  background-color: #fef5d4;
  color: #20202a;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.attach-btn:hover {
  background-color: #ffeca6;
}

.message-input {
  padding: 10px;
  width: 94%;
  margin: 0 20px 0 20px;
  height: 40px;
  border: none;
  background-color: #2b2b35;
  font-size: 14px;
  border-radius: 20px;
  outline: none;
}

.message-input:focus {
  color: rgb(172, 172, 172);
}

#light .message-input {
  background-color: #d6d6d6;
}

#light .message-input:focus {
  color: rgb(0, 0, 0);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(112, 112, 112);
}

.send-btn {
  position: relative;
  height: 42px;
  width: 42px;
  border-radius: 21px;
  background-color: #32323a;
  color: white;
  cursor: pointer;
}

/* Had to center icon manually because flex centering looked off */
.send-icon {
  position: absolute;
  top: 10px;
  left: 7px;
}

#light .send-btn {
  background-color: rgb(119, 119, 119);
}

.insert-file-container {
  min-width: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 15px;
  z-index: 90;
}

.insert-box {
  display: flex;
  align-items: center;
  margin: 20px;
}

.insert-box:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
