*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', Arial;
  font-weight: 500;
  /*  Fixed the scrollbar showing with attach file button
  but may cause other undefined behaviour -> research!  */
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 360px 1fr 282px;
}

#dark {
  background-color: #20202a;
  color: white;
}

#light {
  background-color: rgb(231, 231, 231);
  color: black;
}

.hr-seperator {
  margin: 0 23px 0 23px;
  border: 1px solid rgba(43, 43, 43, 0.74);
}

#light .hr-seperator {
  border: 1px solid rgb(196, 196, 196);
}

.modal {
  position: absolute;
  background-color: #20202a;
  color: rgb(172, 172, 172);
  border: 1px solid rgb(54, 54, 54);
  font-size: 14px;
}

#light .modal {
  background-color: #cfcfcf;
  color: black;
  border: 1px solid rgb(196, 196, 196);
}

.not-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
