.sidebar-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  border-right: 1px solid rgb(43, 43, 43);
}

#light .sidebar-panel {
  border-right: 1px solid rgb(196, 196, 196);
}

/* Substitute spacer for 3 colored Mac dots */
.spacer {
  color: #20202a;
  height: 120px;
}

#light .spacer {
  color: rgb(216, 216, 216);
}

.icon-container {
  display: flex;
  flex-direction: column;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100px;
}

.icon-box:hover {
  cursor: pointer;
}

.selected {
  border-left: 3px solid rgb(254, 245, 212);
  background-image: linear-gradient(to left,
  rgba(254, 245, 212, 0.0) 0%,
  rgba(254, 245, 212, 0.15) 100%
);
}

#light .selected {
  border-left: 3px solid rgb(131, 131,255);
  background-image: linear-gradient(to left,
  rgba(131, 131,255, 0.0) 0%,
  rgba(131, 131,255, 0.15) 100%
);
}

.selected-icon {
  color: #fef5d4;
}

#light .selected-icon {
  color: rgb(131, 131,255);
}

.icon {
  color: rgb(112, 112, 112);
}

.icon:hover {
  color: white;
}

.add-bell-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bell-icon {
  margin-bottom: 26px;
  cursor: pointer;
}

.bell-icon:hover {
  color: white;
}

.notification-count {
  font-family: "Arial";
  position: absolute;
  top: -7px;
  right: 7px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
}

.new-chat {
  margin-bottom: 20px;
  width: 46px;
  height: 46px;
  background-color: #e0d4fa;
  color: #8a6edd;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.new-chat:hover {
  background-color: #d2bdff;
}
